# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_URL="postgresql-connection-string"

# Redis
REDIS_URL="redis-connection-string"

# JWT
JWT_SECRET="change-this-to-a-long-random-string-in-production"
JWT_EXPIRY="15m"
JWT_REFRESH_SECRET="change-this-to-a-different-long-random-string-in-production"
JWT_REFRESH_EXPIRY="7d"

# App
PORT=3001
NODE_ENV="development"
WEB_URL="http://localhost:3000"